<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100' rel='stylesheet' type='text/css'>

<div class="price-table-wrapper">
    {{#each bans}}
        <div class="pricing-table">
            <h2 class="pricing-table__header">{{Name}}</h2>
            <div style="padding-top: 20px"><img src="https://cravatar.eu/avatar/{{Name}}/128.png" id="banned-image" class="icon"></div>
            <ul class="pricing-table__list">
                <li>Banned by: {{Baner}} {{timeago Date}}</li>
                <li>Reason: {{Reason}}</li>
                <li>Expires {{timeago ExpDate}}</li>
                <li>Ip Banned: {{IP_Banned}}</li>
                <li>Status: {{status Status}}</li>
                <li>Ban id: {{BanId}}</li>
                <div class="row buttons-container">
                    <div class="button" id="button-6">
                        <div id="spin"></div>
                        <a href="/servers/{{server}}/bans/edit/{{BanId}}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                                <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                            </svg>
                        </a>
                    </div>
                    <div class="button" id="button-6">
                        <div id="spin"></div>
                        <a href="/servers/{{server}}/bans/delete/{{BanId}}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    {{else}}
        <div class="pricing-table">
            <h2 class="pricing-table__header">No Players Banned</h2>
            <div class="mb-2 p-2">Ban a Player</div>
            <div class="row buttons-container">
                <div class="button" id="button-6">
                    <div id="spin"></div>
                    <a href="/servers/{{server}}/bans/create" class="pricing-table__button mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    {{/each}}
</div>