<div class="price-table-wrapper pb-l3 pt-l3">
    {{#each warns}}
        <div class="pricing-table">
            <h2 class="pricing-table__header">{{Name}}</h2>
            <div style="padding-top: 20px"><img src="https://cravatar.eu/avatar/{{Name}}/128.png" id="banned-image" class="icon"></div>
            <ul class="pricing-table__list">
                <li>Warned by: {{Warner}} {{timeago Date}}</li>
                <li>Reason: {{Reason}}</li>
                <li>Status: {{status Status}}</li>
                <li>Warn id: {{WarnId}}</li>
                <div class="row buttons-container">
                    <a href="/servers/{{server}}/warns/edit/{{WarnId}}" tabindex="5" id="button-6" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                        </svg>
                    </a>
                    <a href="/servers/{{server}}/warns/delete/{{WarnId}}" tabindex="5" id="button-6" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </a>
                </div>
            </ul>
        </div>
    {{else}}
        <div class="pricing-table">
            <h2 class="pricing-table__header">No Players Warned</h2>
            <div class="mb-2 p-2">Warn a Player</div>
            <div class="row buttons-container">
                <div class="button" id="button-6">
                    <div id="spin"></div>
                    <a href="/servers/{{server}}/warns/create" class="pricing-table__button mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    {{/each}}
</div>