<div class="download">
    <div class="md-p-l10 flex justify-center items-center flex-column text-center download-img" id="ban"
         style="background-image: url('/img/mc-2.png');">
        <h2 class="fs-l3">
            StaffCore {{version}}
        </h2>
        <p class="fw-600 fs-m1 opacity-60 my-5">Now supporting spigot 1.17!</p>
        <div class="items-center">
            <a href="/files/StaffCore-4.4.7.jar"
               class="button-md bg-indigo white fs-s3 br-4 black fw-600 no-underline m-5"> <i class="ti ti-coffee"></i>
                Jar File</a>
            <a href="/files/StaffBungee-1.5.jar"
               class="button-md bg-indigo white fs-s3 br-4 black fw-600 no-underline m-5"> <i class="ti ti-coffee"></i>
                Staff Bungee 1.5</a>
            <!--            <a href="https://github.com/BarraR3port/staffcore/releases/download/{{version}}/StaffCore-{{version}}.jar" class="button-md bg-indigo white fs-s3 br-4 black fw-600 no-underline m-5"> <i class="ti ti-coffee"></i> Jar File</a>-->
            <!--            <a href="https://github.com/BarraR3port/staffcore/releases/download/{{version}}/StaffCore-{{version}}.zip" class="button-md bg-indigo white fs-s3 br-4 black fw-600 no-underline m-5"><i class="ti ti-file-zip"></i> Rar File</a>-->
            <a href="/files/StaffCore-4.4.7.zip"
               class="button-md bg-indigo white fs-s3 br-4 black fw-600 no-underline m-5"><i class="ti ti-file-zip"></i>
                Rar File</a>
        </div>
    </div>
</div>